<a href="{{ href }}" class="{{ element_class }} action {{ modifier_class }}">
  <span class="action__icon">
    {% include '@main/images/icon--' ~ icon ~ '.svg' %}
  </span>
  <span class="action__label">
    {{ label }}
  </span>
</a>
